<div class="reportLoading">
  <!-- <div class="spinner">3</div> -->
  <h4>Requesting Report from Server</h4>
  <div class="progress progress-striped active">
    <div class="bar" style="width: 100%;"></div>
  </div>
  <a href="#" rel="details">details</a>
    <div class="details">
  </div>

</div>
